html, body {
  margin: 0;
}

html {
  /*background: #fff url('wallpaper.jpg');*/
  background-size: cover;
  color: #333;
  font: 16px/1.4 Open Sans, Helvetica, Arial, sans-serif;
}

body {
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  background-color: whiteSmoke;
  display: flex;
  justify-content: space-around;
}

button{
    background-color: white;
    color: black;
    border: none;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    margin-top: 5px;
    margin-bottom: 5px;
}

select {      
      background-color: white;
      color: black;
      border: none;
      padding: 3px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
      margin-bottom: 10px;
}

.cont > button{
    width: 100%;
}

fieldset > button{
    width: 100%;
}

#menue > button{
    padding: 8px;
}

#name{
    width: 50%
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type=range] {
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

main {
    flex-basis: 800px;
    
}

#smartomat{
    max-width: 900px;
    
}

#sshop{
    
}

#beetle {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

#beetlecanvas {
  max-width: 70%;
  min-height: 100px;
  max-height: 400px;
}

.meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em 2em 1.7em;
  align-items: center;
  background-color: white;
  margin-top: 40px;
}

main > button{
    width: 100%;
}

.design{

    max-width: 300px;
}

.icon{
    width: 40px;
}

button:hover{
    background-color: lightSteelBlue;
}

#name {
  flex: 1 1 0;
  text-align: left;
  font-size: 1.4em;
  color: #444;
  font-family: serif;
  line-height: 1;
}

#refresh a {
  color: #666;
  text-decoration: none;
  font-weight: 200;
  margin-right: 30px;
}

#seed a {
  color: #666;
  text-decoration: none;
  font-weight: 200;
}



#defaultCanvas0 {
  display: none;
}

footer {
  text-align: center;
  font-size: 0.9em;
  margin: 0 0 1em;
  color: #666;
  text-shadow: 0 0 2px #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

footer a {
  color: #444;
}

fieldset{
    background-color: white;
    display:none;
    margin-bottom:15px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
    
#wrap{
    flex-basis: 400px;
    margin: 1em;
}

.cont{
    width: 100%;
    
}
    


#shirt-container{
    
    
    
}

.container1{
    width:1500px;
    height: 700px;
}

.container2{
    width:1500px;
    height: 1500px;
    position: relative;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container0{
    width:500px;
    height: 500px;
    position: relative;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.singlebeetle{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-size: contain;
}

.singlebeetle0{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-size: contain;
}

.rasterimg{
    margin: auto 0;
}

#shirt-background{
    height: 400px;
    background-position: center; 
    position: relative;
    top: 150px;
    background-color: white;
}

#shirt-canvas{
    
    height: 700px;
    position: relative;
    top: -400px;
    margin: 0 auto;
    

}

.shirt-body{
    max-width: 100% !important;
}

#cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#spinner{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 200px;
    
}

.wait{
    margin: 0 auto;
    width: 300px;
}

.window{
    max-width: 700px; !important
}
